{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/anime/anime.css">
{% endblock %}

{% block content %}

<div class="page-anime-anime">

    <div class="anime-header">

        <!-- Image + suppression -->
        <div class="anime-cover">

            <img
                src="{{ anime.image }}"
                alt="{{ anime.titre }}"
            />

            <button
                type="button"
                class="delete-anime-button"
                data-anime-id="{{ anime.id }}"
            >
                Supprimer
            </button>

        </div>

        <!-- Informations du anime -->
        <div class="anime-details">

            <h2>
                {{ anime.titre }}
            </h2>

            {% if anime.titre_original %}
                <p class="anime-detail-original-title">
                    {{ anime.titre_original }}
                </p>
            {% endif %}

            {% if anime.annee %}
                <p class="anime-info">
                    <strong>Année :</strong>
                    {{ anime.annee }}
                </p>
            {% endif %}

            {% if anime.realisateur %}
                <p class="anime-info">
                    <strong>Réalisateur :</strong>
                    {{ anime.realisateur }}
                </p>
            {% endif %}

            {% if anime.genres %}
                <p class="anime-info">
                    <strong>Genres :</strong>
                    {{ anime.genres }}
                </p>
            {% endif %}

            {% if anime.studios %}
                <p class="anime-info">
                    <strong>Studio :</strong>
                    {{ anime.studios }}
                </p>
            {% endif %}

            {% if anime.saisons %}
                <div class="season-list">
                    {% for saison in anime.saisons %}
                        <div class="season-item">
                            <strong class="numero_saison">
                                Saison {{ saison.numero }}
                            </strong>
                            <span class="nombre_episodes">
                                {{ saison.nombre_episodes }} épisodes
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Description -->
    {% if anime.description %}

        <p class="anime-description">
            {{ anime.description | safe }}
        </p>

    {% else %}

        <p class="anime-description">
            Aucune description disponible.
        </p>

    {% endif %}



</div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/anime/anime.js"></script>
{% endblock %}