{% extends "base.html" %}

{% block title %}
    Accueil
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/home/index.css">
{% endblock %}

{% block content %}
<section class="carrousel">
    {% if a_voir.series or a_voir.animes or a_voir.films %}
    <div class="watch-category">
        {% for serie in a_voir.series %}
            <div class="watch-item" style="background-image: url('{{ serie.image_secondaire or serie.image }}');">
                <img src="{{ serie.image }}" alt="{{ serie.titre }}">
                <strong>{{ serie.titre }}</strong>
            </div>
        {% endfor %}

        {% for anime in a_voir.animes %}
            <div class="watch-item" style="background-image: url('{{ anime.image_secondaire or anime.image }}');">
                <img src="{{ anime.image }}" alt="{{ anime.titre }}">
                <strong>{{ anime.titre }}</strong>
            </div>
        {% endfor %}

        {% for film in a_voir.films %}
            <div class="watch-item" style="background-image: url('{{ film.image_secondaire or film.image }}');">
                <img src="{{ film.image }}" alt="{{ film.titre }}">
                <strong>{{ film.titre }}</strong>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

<section class="mini-carrousel">
</section>
{% endblock %}

{% block scripts %}
    <script src="/static/js/home/index.js"></script>
{% endblock %}