{% extends "base.html" %}

{% block title %}
Accueil
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/home/index.css">
{% endblock %}

{% block content %}

<section class="home">
    <div class="category-list">

        <!-- Anime : actif -->
        <a href="/anime" class="category-card">

            <div class="category-card-image">
                <img
                    src="/static/icons/accueil_anime.jpg"
                    alt="Animés"
                >
            </div>

            <div class="category-card-info">

                <h2>
                    Animés
                </h2>


            </div>

        </a>


        <!-- Film : désactivé pour le moment -->
        <div class="category-card category-card-disabled">

            <div class="category-card-image">
                <img
                    src="/static/icons/accueil_film.webp"
                    alt="Films"
                >
            </div>

            <div class="category-card-info">

                <h2>
                    Films
                </h2>

            </div>

            <span class="category-card-badge">
                Bientôt
            </span>

        </div>


        <!-- Série : désactivée pour le moment -->
        <div class="category-card category-card-disabled">

            <div class="category-card-image">
                <img
                    src="/static/icons/accueil_serie.jpg"
                    alt="Séries"
                >
            </div>

            <div class="category-card-info">

                <h2>
                    Séries
                </h2>

            </div>

            <span class="category-card-badge">
                Bientôt
            </span>

        </div>

    </div>

</section>

{% endblock %}