{% extends "base.html" %}

{% block title %}
    Accueil
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/home/index.css">
{% endblock %}

{% block content %}

<section class="home">
    <div class="category-list">
        <a href="/anime" class="category-card-anime">
            <div class="category-card-image">
                <img src="/static/icons/accueil_anime.jpg" alt="Animés">
            </div>
            <div class="category-card-info">
                <h2>
                    Animés
                </h2>
                <span>
                    {{ contenus.animes }}
                </span>
            </div>
        </a>
        <a href="/film" class="category-card-film">
            <div class="category-card-image">
                <img src="/static/icons/accueil_film.webp" alt="Films">
            </div>
            <div class="category-card-info">
                <h2>
                    Films
                </h2>
                <span>
                    {{ contenus.films }}
                </span>
            </div>
        </a>
        <a href="/serie" class="category-card-serie">
            <div class="category-card-image">
                <img src="/static/icons/accueil_serie.jpg" alt="Séries">
            </div>
            <div class="category-card-info">
                <h2>
                    Séries
                </h2>
                <span>
                    {{ contenus.series }}
                </span>
            </div>
        </a>

    </div>

</section>

{% endblock %}