.home {
    height: 100%;
    display: flex;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 150px;
}

.category-card-anime, .category-card-film, .category-card-serie {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 16px;
    background: #18181b;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.category-card-anime:hover, .category-card-film:hover, .category-card-serie:hover {
    transform: scale(1.05);
}

.category-card-anime::after, .category-card-anime::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red, white, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.category-card-film::after, .category-card-film::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), green, white, green);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.category-card-serie::after, .category-card-serie::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), blue, white, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.category-card-anime::before, .category-card-film:before, .category-card-serie::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.category-card-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.category-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        transform 0.3s ease;
}

.category-card-info {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
    border-radius: 0 0 16px 16px;
}

.category-card-info h2 {
    margin: 0;
}

.category-card-info p {
    margin: 0;
    opacity: 0.7;
}