:root {
    --couleur_barre: #ffffff;
    --couleur_fond: #fbf9f2;
    --couleur_media: #000000;
    --couleur_bordure: #000000;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur_fond);
}

.header-bar {
    display: flex;
    border-bottom: 2px solid var(--couleur_bordure);
    padding: 1em;
    justify-content: space-between;
    background-color: var(--couleur_barre);
}

.navbar-button {
    display: flex;
    align-items: center;
}

.navbar-title {
    display: flex;
    align-items: center;
}

.link_list, .link_icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 0;
    padding: 0;
    color: var(--couleur_barre);
}

.link_list a{
    text-decoration: none;
    color: var(--couleur_bordure);
}

.link_icons button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.link_icons  {
    size: 32px;
}