* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 20px;

}

.main-header {
    position: relative;
    width: calc(100% - 100px);
    height: 60px;
    margin: 50px auto;
}

.main-header span {
    color: white;
    margin-right: 20px;
}

.bar-header {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
    border-radius: 16px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}
.main-header::after, .main-header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), white, black, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.main-header:before {
    filter: blur(1.5rem);
    opacity: 1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.site-title {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #18181b;
}

.library-menu {
    margin-left: 20px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.button:hover {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.button + .button {
    margin-left: 20px;
}