.add-anime {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto;
    background-color: var(--couleur_barre);
    padding: 20px;
    border-radius: 16px;
}

.add-anime::after, .add-anime::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_anime), var(--couleur_fond), var(--couleur_anime));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.add-anime::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.add-anime h2 {
    margin-bottom: 15px;
}

#anime-search {
    width: 100%;
    padding: 15px 15px 15px 35px;
    border: 3px solid var(--couleur_anime);
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    color: var(--couleur_fond);
    background-color: var(--couleur_barre);
}

#anime-search::placeholder{
    color: var(--couleur_fond_barre);
}

#search {
    width: 100%;
    padding: 15px 15px 15px 35px;
    border: 3px solid var(--couleur_anime);
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    color: var(--couleur_fond);
    background-color: var(--couleur_barre);
}

#search::placeholder {
    color: var(--couleur_fond_barre);
}

.search-results-list {
    color: var(--couleur_fond);
    height: 380px;
    overflow-y: auto;
    margin-top: 15px;
    padding-right: 10px;
    scrollbar-color: var(--couleur_anime) transparent;
}

.search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    padding: 15px;
    margin-bottom: 10px;
    border: 3px solid var(--couleur_anime);
    border-radius: 16px;
    background-color: var(--couleur_barre);
}

.search-result-info {
    flex: 1;
}

.search-result h3 {
    margin: 0 0 5px 0;
}

.search-result p {
    margin: 5px 0;
}

.add-anime-button, #cancel-add, #confirm-add {
    border: none;
    background-color: var(--couleur_barre);
    color: var(--couleur_anime);
    margin-right: 10px;
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid var(--couleur_anime);
    border-right: 3px solid var(--couleur_anime);
    cursor: pointer;
}

.add-anime-button:hover, #cancel-add:hover, #confirm-add:hover {
    border: none;
    background-color: var(--couleur_barre);
    color: var(--couleur_fond);
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid var(--couleur_fond);
    border-right: 3px solid var(--couleur_fond);
    cursor: pointer;
}

.search-result-image {
    width: 70px;
    height: 90px;
    object-fit: cover;
    margin-right: 15px;
}

.toolbar {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto;
    background: var(--couleur_barre);
    padding: 20px;
    border-radius: 16px;
}

.toolbar::after, .toolbar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_anime), var(--couleur_fond), var(--couleur_anime));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.toolbar::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter {
    border: none;
    background: var(--couleur_barre);
    padding: 10px 18px;
    border-radius: 16px;
    cursor: pointer;
}

.filter:hover {
    background: var(--couleur_barre);
}

.filter.active {
    background-color: var(--couleur_fond);
    color: var(--couleur_barre);
}

#anime-list {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.anime-card {
    width: fit-content;
    background-color: var(--couleur_barre);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.anime-card-background {
    position: relative;
    z-index: 1;
}

.anime-card-background:hover::after, .anime-card-background:hover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_anime), var(--couleur_barre), var(--couleur_anime));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.anime-card-background::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.anime-card-background:hover {
    text-decoration: none;
    color: inherit;
    transform: scale(1.03);
}

.anime-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    order: 2;
}

.anime-image {
    position: relative;
    display: flex;
    justify-content: center;
    order: 1;
    width: 100%;
}

.anime-image img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 16px;
}

.anime-card h2 {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    display : -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.original-title {
    color: var(--couleur_fond_barre);
    font-size: 12px;
    font-style: italic;
    text-align: left;
    width: 100%;
    display : -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 100%;
    max-width: 420px;
    background: var(--couleur_barre);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 20px;
    color: var(--couleur_fond_barre);
}

#season-count {
    width: 100%;
    padding: 10px 12px;
    border: 3px solid var(--couleur_anime);
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 25px;
    outline: none;
    appearance: textfield;
    -moz-appearance: textfield;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-actions button {
    padding: 10px 18px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.search-input {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.search-icon img {
    width: 100%;
    height: 100%;
}

.season-progress {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 3px 5px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    color: var(--couleur_barre);
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
}

.anime-complete-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px !important;
    height: 16px !important;
    object-fit: contain;
}