.add-film {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto;
    background-color: var(--couleur_barre);
    padding: 20px;
    border-radius: 16px;
}

.add-film::after, .add-film::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_film), var(--couleur_fond), var(--couleur_film));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.add-film::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.add-film h2 {
    margin-bottom: 15px;
}

#film-search {
    width: 100%;
    padding: 15px 15px 15px 35px;
    border: 3px solid var(--couleur_film);
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    color: var(--couleur_fond);
    background-color: var(--couleur_barre);
}

#film-search::placeholder{
    color: var(--couleur_fond_barre);
}

#search {
    width: 100%;
    padding: 15px 15px 15px 35px;
    border: 3px solid var(--couleur_film);
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    color: var(--couleur_fond);
    background-color: var(--couleur_barre);
}

#search::placeholder {
    color: var(--couleur_fond_barre);
}

.search-results-list {
    color: var(--couleur_fond);
    height: 380px;
    overflow-y: auto;
    margin-top: 15px;
    padding-right: 10px;
    scrollbar-color: var(--couleur_film) transparent;
}

.search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    padding: 15px;
    margin-bottom: 10px;
    border: 3px solid var(--couleur_film);
    border-radius: 16px;
    background-color: var(--couleur_barre);
}

.search-result-info {
    flex: 1;
}

.search-result h3 {
    margin: 0 0 5px 0;
}

.search-result p {
    margin: 5px 0;
}

.add-film-button, #cancel-add, #confirm-add {
    border: none;
    background-color: var(--couleur_barre);
    color: var(--couleur_film);
    margin-right: 10px;
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid var(--couleur_film);
    border-right: 3px solid var(--couleur_film);
    cursor: pointer;
}

.add-film-button:hover, #cancel-add:hover, #confirm-add:hover {
    border: none;
    background-color: var(--couleur_barre);
    color: var(--couleur_fond);
    padding: 5px;
    border-radius: 16px;
    border-left: 3px solid var(--couleur_fond);
    border-right: 3px solid var(--couleur_fond);
    cursor: pointer;
}

.search-result-image {
    width: 70px;
    height: 90px;
    object-fit: cover;
    margin-right: 15px;
}

.toolbar {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto;
    background: var(--couleur_barre);
    padding: 20px;
    border-radius: 16px;
}

.toolbar::after, .toolbar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_film), var(--couleur_fond), var(--couleur_film));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.toolbar::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter {
    border: none;
    background: var(--couleur_barre);
    padding: 10px 18px;
    border-radius: 16px;
    cursor: pointer;
}

.filter:hover {
    background: var(--couleur_barre);
}

.filter.active {
    background-color: var(--couleur_fond);
    color: var(--couleur_barre);
}

#film-list {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.film-card {
    width: fit-content;
    background-color: var(--couleur_barre);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.film-card-background {
    position: relative;
    z-index: 1;
}

.film-card-background:hover::after, .film-card-background:hover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), var(--couleur_film), var(--couleur_barre), var(--couleur_film));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 16px;
    animation: 3s spin linear infinite;
}

.film-card-background::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.film-card-background:hover {
    text-decoration: none;
    color: inherit;
    transform: scale(1.03);
}

.film-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    order: 2;
}

.film-image {
    position: relative;
    display: flex;
    justify-content: center;
    order: 1;
    width: 100%;
}

.film-image img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 16px;
}

.film-card h2 {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    display : -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.original-title {
    color: var(--couleur_fond_barre);
    font-size: 12px;
    font-style: italic;
    text-align: left;
    width: 100%;
    display : -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.search-input {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.search-icon img {
    width: 100%;
    height: 100%;
}
