<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Bibliothèque
            {% endblock %}
        </title>
        {% block styles %}
        <link rel="stylesheet" href="/static/css/base.css">
        {% endblock %}
    </head>
    <body>
        <header class="header-bar">
            <div class="navbar-title">
                <span>Bibliothèque</span>
                <span>de média</span>
            </div>
            <nav class="navbar-button">
                <ul class="link_list">
                    <li><a href="/" title="Accueil">Accueil</a></li>
                    <li><a href="/anime/" title="Animés">Animés</a></li>
                    <li><a href="/film/" title="Films">Films</a></li>
                    <li><a href="/serie/" title="Séries">Séries</a></li>
                </ul>
            </nav>
            <nav class="navbar-icons">
                <ul class="link_icons">
                    <li><button type="button" id="search-button"> <img src="/static/icons/Search.svg" alt="Search"></button></li>
                    <li><button type="button" id="close-button"> <img src="/static/icons/Close.svg" alt="Close"></button></li>
                </ul>
            </nav>
            {% from "side_menu.html" import side_menu %}
            <div id="side-menu-overlay">
            
            </div>
            <aside id="side-menu">

                <ul class="category-side-menu">
                    <li><button>Animés</button></li>
                    <li><button>Films</button></li>
                    <li><button>Séries</button></li>
                </ul>

                {{ side_menu(
                    "anime",
                    "anime-side-search",
                    "Ex : One Piece"
                ) }}

                {{ side_menu(
                    "film",
                    "film-side-search",
                    "Ex : OSS 117"
                ) }}

                {{ side_menu(
                    "serie",
                    "serie-side-search",
                    "Ex : Game of Thrones"
                ) }}
            </aside>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block scripts %}
            <script  src="/static/js/base.js"></script>
        {% endblock %}
    </body>
</html>
