<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Anime Library
            {% endblock %}
        </title>
        <link rel="icon" href="/static/icons/clapper.svg" />
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/animations.css" />
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <header class="main-header">
            <nav class="library-menu">
                <a href="/" class="back-home-button">
                    Accueil
                </a>
                <div class="library-submenu">
                    <a href="/anime/" class="library-submenu-button">
                    Animés
                    </a>
                    <a href="/film/" class="library-submenu-button">
                    Films
                    </a>
                    <a href="/serie/" class="library-submenu-button">
                    Séries
                    </a>
                </div>
            </nav>
            <div class="site-title">
                <span>
                    Ma Bibliothèque
                </span>
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
