<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Bibliothèque
            {% endblock %}
        </title>
        <link rel="icon" href="/static/icons/clapper.svg">

        {% block styles %}
        <link rel="stylesheet" href="/static/css/media.css">
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/animations.css">
        {% endblock %}
    </head>
    <body>
        <header class="main-header">
            <div class="bar-header">
                <div class="library-menu">
                    <a href="/" class="button">
                        Accueil
                    </a>
                    <a href="/anime/" class="button">
                    Animés
                    </a>
                    <a href="/film/" class="button">
                    Films
                    </a>
                    <a href="/serie/" class="button">
                    Séries
                    </a>
                </div>
                <div class="site-title">
                    <span>
                        Ma Bibliothèque
                    </span>
                </div>
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
