{% macro media_index(media_type, list_id, loading_text, a_voir, contenus) %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/media.css">
{% endblock %}

<div class="page-{{ media_type }} page-media">
    <div class="menu-container-media">
        <h1>Liste de {{ media_type }}s</h1>
        <div class="nombre-oeuvre-media">
            {% if media_type == "anime" %}
                <p>{{ contenus.animes }} œuvres</p>
            {% elif media_type == "film" %}
                <p>{{ contenus.films }} œuvres</p>
            {% elif media_type == "serie" %}
                <p>{{ contenus.series }} œuvres</p>
            {% endif %}
        </div>

        <div class="menu-filtrer-media">
            <p>Trier par</p>
            <div class="menu-deroulant-media">
                <div class="menu-deroulant-bouton">
                    <button type="button">
                        Tous
                    </button>
                    <img src="/static/icons/Fleche_bas.svg" alt="Fleche_bas">
                </div>
                <ul class="menu-deroulant-options">
                    <li data-value="">Tous</li>
                    <li data-value="non-vu">Non vu</li>
                    <li data-value="vu">Vus</li>
                </ul>
            </div>
        </div>
        <p>
            A voir
        </p>
        {% if a_voir %}
        <section id="watch-list-{{ media_type }}" class="watch-list">
            {% for media in a_voir %}
                <div class="watch-item">
                    {{ media }}
                </div>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <section id="{{ list_id }}" class="list-media">
        <p>
            {{ loading_text }}
            <!-- Les cards apparaissent ici -->
        </p>
    </section>
</div>
{% endmacro %}

{% block scripts %}
    <script src="/static/js/base.js"></script>
{% endblock %}