{% macro media_detail(
    media,
    type_media
) %}

<div class="page-{{ type_media }}-detail">
    <div class="header-media-detail">
        <div class="cover-media-detail">
            <img src="{{ media.image }}" alt="{{ media.titre }}"/>

            <button type="button" class="delete-{{ type_media }}-button delete-button-media-detail" data-{{ type_media }}-id="{{ media.id }}">
                Supprimer
            </button>
        </div>
        <div class="details-media-detail">
            {% if media.titre %}
            <h2 class="title-media-detail">
            {{ media.titre }}
            {% endif %}
            </h2>
            {% if media.titre_original %}
                <p class="original-title-media-detail">
                {{ media.titre_original }}
                </p>
            {% endif %}
            <div class="info-media-detail">
                {% if media.annee %}
                    <p>
                        <strong>Année de sortie :</strong>
                        {{ media.annee }}
                    </p>
                {% endif %}
                {% if media.auteur %}
                    <p>
                        <strong>Auteur :</strong>
                        {{ media.auteur }}
                    </p>
                {% endif %}
                {% if media.realisateur %}
                    <p>
                        <strong>Réalisateur :</strong>
                        {{ media.realisateur }}
                    </p>
                {% endif %}
                {% if media.duree %}
                    <p>
                        <strong>Durée :</strong>
                        {{ media.duree }}
                    </p>
                {% endif %}
                {% if media.genres %}
                    <p>
                        <strong>Genres :</strong>
                        {{ media.genres }}
                    </p>
                {% endif %}
                {% if media.studios %}
                    <p>
                        <strong>Studio :</strong>
                        {{ media.studios }}
                    </p>
                {% endif %}
            </div>
            {% if media.saisons %}
                <div class="season-list-media-detail">
                    {% for saison in media.saisons %}
                        <div class="season-item-media-detail">
                            <strong class="numero_saison">
                                Saison {{ saison.numero }}
                            </strong>
                            <span class="nombre-episodes-media-detail">
                                {{ saison.nombre_episodes }} épisodes
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if media.description %}
        <p class="description-media-detail">
            {{ media.description | safe }}
        </p>
    {% else %}
        <p class="description-media-detail">
            Aucune description disponible.
        </p>
    {% endif %}
</div>
{% endmacro %}