{% macro media_detail(
    media,
    type_media
) %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/media_detail.css">
{% endblock %}

<div class="page-{{ type_media }}-detail page-media-detail">
    <div class="header-media-detail">
        <div class="cover-media-detail">
            <img src="{{ media.image }}" alt="{{ media.titre }}" class="image-background-media-detail">
            <img src="{{ media.image }}" alt="{{ media.titre }}" class="image-media-detail">
        </div>

        <div class="details-media-detail">
            <h1 class="titre-media-detail">
                {% if media.titre %}
                    {{ media.titre }}
                    {% if media.titre_original and media.titre_original != media.titre %}
                        <span class="titre-original-media-detail">
                            ({{ media.titre_original }})
                        </span>
                    {% endif %}
                {% endif %}
            </h1>
            <div class="info-media-detail">
                {% if media.auteur %}
                    <p class="auteur-media-detail"> {{ media.auteur }} </p>
                {% endif %}
                {% if media.genres %}
                    <ul class="genre-media-detail">
                        {% for genre in media.genres.split(", ") %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if media.annee %}
                    <p class="annee-media-detail"> {{ media.annee }} </p>
                {% endif %}
                {% if media.realisateur %}
                    <p class="realisateur-media-detail"> {{ media.realisateur }} </p>
                {% endif %}
                {% if media.duree %}
                    <p class="duree-media-detail"> {{ media.duree }} </p>
                {% endif %}
                {% if media.studios %}
                    <p studio-media-detail>
                        <strong>Studio :</strong>
                        {{ media.studios }}
                    </p>
                {% endif %}
            </div>
            {% if media.saisons %}
                <div class="season-list-media-detail">
                    {% for saison in media.saisons %}
                        <div class="season-item-media-detail">
                            <label class="season-checkbox-container">
                                <input
                                    type="checkbox"
                                    class="season-checkbox"
                                    {% if saison.vu %}checked{% endif %}
                                    data-type-media="{{ type_media }}"
                                    data-media-id="{{ media.id }}"
                                    data-saison-id="{{ saison.id }}"
                                >

                            </label>

                            <div class="season-text">
                                {% if saison.titre and saison.titre != "Saison " ~ saison.numero %}
                                <strong>
                                    Saison {{ saison.numero }} : {{ saison.titre }}
                                </strong>
                                {% else %}
                                <strong>
                                    Saison {{ saison.numero }}
                                </strong>
                                {% endif %}
                            </div>

                            <span class="nombre-episodes-media-detail">
                                {{ saison.nombre_episodes }} épisodes
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if media.description %}
        <div class="image-description-media-detail">
            <img src="/static/icons/Description.svg" alt="Image-Description">
            <p> Résumé </p>
        </div>
        
        <p class="description-media-detail">
            {{ media.description | safe }}
        </p>
    {% else %}
        <p class="description-media-detail">
            Aucune description disponible.
        </p>
    {% endif %}
        <button type="button" class="delete-{{ type_media }}-button delete-button-media-detail" data-{{ type_media }}-id="{{ media.id }}">
            Supprimer
        </button>
</div>

{% endmacro %}

{% block scripts %}
    <script src="/static/js/base.js"></script>
{% endblock %}