{% macro media_index(media_type, list_id, loading_text, a_voir) %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/media.css">
{% endblock %}

<div class="page-{{ media_type }}-index">
    <div class="watch-container">
        <button type="button" id="watch-button-{{ media_type }}" class="watch-button">
            A voir
        </button>

        {% if a_voir %}
        <section id="watch-list-{{ media_type }}" class="watch-list">
            {% for media in a_voir %}
                <div class="watch-item">
                    <strong>{{ media }}</strong>
                </div>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <section id="{{ list_id }}" class="media-list">
        <p>
            {{ loading_text }}
            <!-- Les cards apparaissent ici -->
        </p>
    </section>
</div>
{% endmacro %}

{% block scripts %}
    <script src="/static/js/base.js"></script>
{% endblock %}