{% macro side_menu(
    media_type,
    search_id,
    search_placeholder
) %}

<section id="{{ media_type }}-menu" class="page-menu">

    <p class=""><strong>Rechercher {{ media_type }}</strong></p>

    <section class="add-media">

        <div class="search-input">

            <span class="search-icon">
                <img src="/static/icons/Search.svg" alt="">
            </span>

            <input
                type="text"
                id="{{ search_id }}"
                class="media-search"
                placeholder="{{ search_placeholder }}"
            >

        </div>

        <section
            id="{{ media_type }}-search-results"
            class="media-results"
        >
            <!-- Les résultats apparaîtront ici -->
        </section>

    </section>

</section>

{% endmacro %}